.gcontainer {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Card Styles */
.gcard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid silver;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    height: 350px;
}

.gcard img {
    width: 100%;
    height: 97%;
    object-fit: cover;
}

.gcard .gleft {
    width: 30%;
    padding: 10px;
}

.gcard .gright {
    width: 70%;
    padding: 20px;
    text-align: justify;
    overflow: auto;
}

.gcard h1 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.gcard span {
    font-size: 1em;
    color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
    .gcard {
        flex-direction: column;
        height: auto;
    }

    .gcard .gleft,
    .gcard .gright {
        width: 100%;
    }

    .gcard img {
        height: 280px;
    }
}

@media (max-width: 480px) {
    .gcard .gright {
        padding: 10px;
    }

    .gcard h1 {
        font-size: 1.2em;
    }

    .gcard span {
        font-size: 0.9em;
    }
}